GCP_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_GENAI_USE_ENTERPRISE=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
LLM_MODEL=
EMBEDDING_MODEL=
QDRANT_API_KEY=
QDRANT_URL=
QDRANT_HOST=
QDRANT_PORT=
QDRANT_COLLECTION=
GCS_BUCKET_NAME=
CONTENT_DIRECTORY=
